body {
    background-color: rgb(52,53,65);
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 700;
}

.collapsible-header{
    background-color: rgb(52,53,65);
    font-weight: 700;
}